body {
    background-color: #fff;
}

.login-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 3px 4px 5px rgb(0,0,0,0.5);
}

.login-container h2 {
    text-align: center;
}

.login-container input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #218838;
}
